

.OrganizationListItem{
    height: 2.7rem;
    position: relative;
}

.OrganizationListItemImage{
    border-radius: 8px;
}

.OrganizationItemListElement{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0rem 1rem 0rem;
}



/* Button Code CSS */

.CreategroupsSidebar{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}
.SidebarMainBtnDiv{
    width: 100%;
    background-color: #f8f8f8;
    color: black;
    padding: 0.8rem 0.6rem;
    border-radius: 8px;
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    font-weight: 500;
}
.SidebarMainBtnDiv button svg{
    margin-right: 0.5rem;
}